
    @font-face {
      font-family: 'Garamond';
      font-style: normal;
      font-weight: 400;
      src: url('/font/EBGaramond.otf') format('opentype');
    }
    
    body {
        background:
            url(/img/themes/classic/world.png) no-repeat center 50px,
            url(/img/themes/classic/background.jpg);
    }
    body.play,
    body.login {
        background:
            url(/img/themes/classic/background.jpg);
    }
    .showcase {
        height: 170px;
        width: 100%;
        background: url("/img/themes/classic/welcome.png") no-repeat scroll center -110px;
    }
    .waiting-img {
        height: 100px;
        width: 100px;
        margin: 20px;
        background: url("/img/themes/classic/hourglass.png") no-repeat scroll center center;
    }
    #tour-carousel{
        margin-bottom: 30px;
        margin-top: 550px;
    }
    
    .side-toggle,
    #bug-reporter-panel,
    .card,
    #modal-dialog.info {
        background-image: url("/img/themes/classic/background.jpg");
    }
    
    
    .welcome img {
        margin-top: -120px;
        margin-bottom: -30px;
    }
    
    .card .symbol.category-1{
        background: rgba(0, 0, 0, 0) url(/img/themes/classic/symbol-infantry.png) repeat scroll 0 0 / cover;
    }
    .card .symbol.category-2{
        background: rgba(0, 0, 0, 0) url(/img/themes/classic/symbol-cavalry.png) repeat scroll 0 0 / cover;
    }
    .card .symbol.category-3{
        background: rgba(0, 0, 0, 0) url(/img/themes/classic/symbol-artillery.png) repeat scroll 0 0 / cover;
    }
    
    .status.started {
        background: #3c763d;
    }
    .status.waitingforjoins {
        background: rgba(255,127,0,0.85);
    }
    
    .alert-success {
        background-color: #3c763d;
    }
    .alert-error {
        background-color: #a94442;
    }
    .alert-error hr {
        border-top-color: #e4b9c0;
    }
    .alert-error .alert-link {
        color: #843534;
    }
    
    .usernamedisplay .removesymbol {
        border-radius: 3px;
        margin: 5px;
    }
    .container .dropdown-menu > li:hover,
    .container .dropdown-menu > li:focus {
      text-decoration: none;
      background-color: rgba(0,0,0,0.5);
    }
    .toggle-btn:hover {
        padding: 6px 9px 4px 11px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35) inset;
    }
    .toggle-btn.active {
        padding: 8px 7px 2px 13px;
        background: rgba(0,0,0,0.25);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
    }
    .toggle-btn.changed {
        background: rgba(255,255,255,0.5);
        animation: changed 2s linear infinite;
    }
    @keyframes changed {
        0% { background: none }
        50% { background: rgba(255,255,255,0.5) }
        100% { background: none }
    }
    
    .btn-primary {
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        padding: inherit;
        padding: 12px;
        background-image: none;
        border: none;
    }
    .btn-primary:hover{
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.5);
        padding: 14px 10px 10px 14px;
        border: none;
    }
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active{
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        box-shadow: inset 1px 3px 3px 3px rgba(0,0,0,0.5);
        padding: 15px 9px 9px 15px;
    }
    
    .btn-primary.next-phase{
        background: rgba(0,155,0,0.35);
        border-radius: 3px;
    }
    .btn-primary.next-phase:hover{
        background: rgba(0,155,0,0.5);
    }
    .btn-primary.next-phase:active{
        background: rgba(0,155,0,0.6);
    }
    .btn-primary.next-round{
        background: rgba(0, 30, 155, 0.75);
        border-radius: 3px;
    }
    .btn-primary.next-round:hover{
        background: rgba(0, 30, 155,0.75);
    }
    .btn-primary.next-round:active{
        background: rgba(0, 30, 155,0.75);
    }
    .btn-primary.next-phase[disabled=disabled],
    .btn-primary.next-phase[disabled=disabled]:hover,
    .btn-primary.next-phase[disabled=disabled]:active{
        opacity: 0.5;
        background: rgba(155, 155, 155, 0.6);
        color: #fff;
        padding: inherit;
        padding: 12px;
        box-shadow: none;
    }
    
    a.action{
        background: #3c873d;
    }
    a.action:hover{
        background: #3c873d;
    }
    input.action{
        color: #3c873d;
    }
    input.action:hover{
        color: #3c873d;
    }
    
    .state-symbol.active{
        background: rgba(0,0,0,0.5);
    }
    
    
/****************************************************
    Navigation Bar
****************************************************/
    
    .navbar-brand {
        padding-right: 60px !important;
        margin-right: 20px !important;
        background: url(/img/classic-logo.png) no-repeat right -5px;
    }
    
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand{
        margin: 5px -15px -5px;
    }
    
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: inherit;
        background-color: rgba(0,0,0,0.5);
    }
    
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: rgba(0,0,0,0.5);
        background-image: none;
        box-shadow: inset 5px 5px 5px rgb(0,0,0);
        opacity: 0.75;
        color: #ccc;
    }
    
    

/****************************************************
    Modal Dialog
****************************************************/

    #modal-dialog.error {
        background: rgba(200,0,0,0.85);
    }
    #modal-dialog.warn {
        background: rgba(255,127,0,0.85);
    }
    #modal-dialog.info {
    }