
    @font-face {
      font-family: 'Garamond';
      font-style: normal;
      font-weight: 400;
      src: url('/font/EBGaramond.otf') format('opentype');
    }



/****************************************************
    Basic HTML Elements
****************************************************/

    html {
        height: 100%;
    }
    body {
        background-image: url(/img/classic-background.jpg);
        color: #fff;
        font-family: "Garamond", Helvetica, Arial, sans-serif;
        font-size: 20px;
        height: 100%;
        background-color: inherit;
    }
    label {
        font-weight: initial;
    }
    table {
        width: 100%;
    }
    a {
        color: #191919;
    }
    a:hover,
    a:focus {
        color: #090909;
        text-decoration: none;
    }



/****************************************************
    Standards
****************************************************/

    .panel {
        margin-bottom: inherit;
        border: inherit;
        background-color: rgba(0,0,0,0.5);
    }
    .panel-default {
        margin-bottom: 20px;
        border-color: inherit;
    }
    .panel-default.navbar-fixed-bottom {
        margin-bottom: 0px;
    }
    .panel-heading {
        border-bottom: inherit;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        box-shadow: inset 0 -5px 5px rgba(0,0,0,0.35);
    }
    .panel-footer {
        background-color: rgba(0,0,0,0.75);
        border-top: inherit;
    }
    .panel-group .panel-heading + .panel-collapse > .panel-body,
    .panel-group .panel-heading + .panel-collapse > .list-group {
        border-top: inherit;
    }
    .panel-group .panel-footer + .panel-collapse .panel-body {
        border-bottom: inherit;
    }
    .panel-default > .panel-heading {
        color: inherit;
        background-color: inherit;
        border-color: inherit;
        background-image: inherit;
    }
    .right {
        float: right;
    }
    .section{
        border-bottom: 1px solid #fff;
        padding: 15px;
        margin-bottom: 15px;
    }
    .data-row,
    .data-column {
        font-size: 0.8em;
        color: #bbb;
    }
    .container a{
        color: inherit;
    }
    .slave-cell {
        width: 0;
        padding-left: 5px;
    }
    .slave-cell .btn-primary {
        padding: 6px 12px !important;
    }
    td.placeholder {
        height: 10px;
    }
    td.delimiter {
        border-top: 1px solid #fff;
    }
    
    

/****************************************************
    Navigation Bar
****************************************************/

    .dropdown-menu {
        font-size: 0.8em;
        background-color: inherit;
        border: inherit;
        border: inherit;
        border-radius: inherit;
        box-shadow: inherit;
    }
    .dropdown-menu > li > a {
        color: #fff;
        text-decoration: none;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: rgba(255,255,255,0.35);
        background-image: none;
    }
    .dropdown-menu > li.logout > a:hover,
    .dropdown-menu > li.logout > a:focus {
        background-color: rgba(255,0,0,0.5);
    }
    .navbar {
        border-radius: 0;
        border: none;
    }
    .navbar-brand {
        float: inherit;
        padding: inherit;
        font-size: inherit;
        line-height: inherit;
        height: inherit;
    }
    .navbar-nav > li > a {
        padding-top: inherit;
        padding-bottom: inherit;
        line-height: 90px;
    }
    .navbar-default {
        background-color: rgba(0,0,0,0.5);
        background-image: none;
        border-color: none;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #c00;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        font-size: 50px;
        float: left;
        padding: 15px 50px 15px 20px;
        line-height: 70px;
        height: 90px;
    }
    .navbar-default .navbar-nav > li > a {
      color: #fff;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: inherit;
        background-color: rgba(0,0,0,0.5);
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: rgba(0,0,0,0.5);
        background-image: none;
        box-shadow: inset 5px 5px 5px rgb(0,0,0);
        opacity: 0.75;
        color: #ccc;
    }
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus{
        background: none;
        background-image: none;
    }
    .newmessagescount {
        margin-left: -15px;
        margin-right: 5px;
        margin-top: 20px;
        top: 20px;
        padding: 2px 2px 0 4px;
        text-align: center;
        background: #fff;
        color: #000;
        font-size: 15px;
        border-radius: 5px;
    }
    
    

/****************************************************
    Inputs
****************************************************/
    
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #666;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #666;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #666;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: #666;
    }
    .form-control {
        height: 42px;
        font-size: inherit;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        border: 0;
        box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    .form-control:focus {
        border-color: inherit;
        box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.95);
    }
    .form-control::-moz-placeholder {
        color: inherit;
        opacity: inherit;
    }
    .form-control:-ms-input-placeholder {
        color: inherit;
    }
    .form-control::-webkit-input-placeholder {
        color: inherit;
    }
    .form-horizontal .control {
        text-align: left;
        margin-bottom: 0;
        padding-top: 7px;
    }
    .control-label-display {
        margin-bottom: 0;
        text-align: right;
    }
    .inactive {
        color: rgba(255,255,255,0.5);
    }
    .status {
        border-radius: 5px;
        padding: 5px 15px;
        float: left;
    }
    .status.started {
        background: #3c763d;
    }
    .status.waitingforjoins {
        background: rgba(255,127,0,0.85);
    }
    .namemarker{
        font-weight: bold;
        text-decoration: underline;
        font-size: 1.5em;
    }
    .btn {
        font-size: inherit;
    }
    .btn-default,
    .btn-primary,
    .btn-success,
    .btn-info,
    .btn-warning,
    .btn-danger{
        box-shadow: none;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default.focus{
        color: #333333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default.focus,
    .btn-default:active,
    .btn-default.active,
    .open > .dropdown-toggle.btn-default {
        color: inherit;
        background-color: inherit;
        border-color: inherit;
    }
    .btn-primary {
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        padding: inherit;
        padding: 12px;
        background-image: none;
        border: none;
    }
    .btn-primary:hover{
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.5);
        padding: 14px 10px 10px 14px;
        border: none;
    }
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active{
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        box-shadow: inset 0 2px 2px 2px rgba(0,0,0,0.5);
        padding: 15px 9px 9px 15px;
    }
    .btn-lg,
    .btn-group-lg > .btn {
        font-size: 14px;
    }
    .btn-sm,
    .btn-group-sm > .btn {
        font-size: 12px;
    }
    .btn-xs,
    .btn-group-xs > .btn {
        font-size: inherit;
    }
    .close {
      font-size: 25px;
      color: #fff;
      text-shadow: 0 1px 0 #ffffff;
      opacity: 0.5;
      filter: alpha(opacity=20);
      margin: 0 5px;
    }
    .close:hover,
    .close:focus {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);
    }
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="file"],
    input[type="select"],
    select,
    .userselector-wrapper,
    button.dropdown-toggle {
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        border: none;
        padding: 5px;
        border-radius: 2px;
        box-sizing: border-box;
        box-shadow: inset 5px 5px 5px rgba(0,0,0,0.5);
    }
    .button-container{
        margin-top: 20px;
        text-align: right;
    }
    .invalid {
        background-color: rgba(127,0,0,0.5) !important;
        color: #fbb !important;
        border: 2px solid #f88 !important;
        padding: 3px !important;
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url(/img/error.png);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset, 0 0 5px rgba(255, 127, 127, 0.9) !important;
    }
    .invalid input[type="userselector"]{
        background-image: none;
        padding: 0 !important;
    }
    input[type="userselector"]{
        background: none;
        color: #fff;
        border: none;
        padding: 5px;
        width: 100%;
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url(/img/search.png);
    }
    input.loading {
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url(/img/loading_small.gif);
    }
    .userselector-wrapper {
        padding: 0;
    }
    input[type="select"] {
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url(/img/message.png);
    }
    input[type="text"]:focus,
    .open button.dropdown-toggle:focus {
        box-shadow: inset 5px 5px 5px rgba(0,0,0,0.75);
    }
    .open button.dropdown-toggle:focus {
        color: #666;
    }
    .tool-panel input[type="text"]{
        margin: 10px;
    }
    .mini-button{
        padding: 0 5px;
        border-radius: 5px;
        border: 1px solid #fff;
        margin-left: 5px;
        margin-top: -5px;
    }
    .mini-button:hover{
        background: rgba(255,255,255,0.25);
    }
    .usernamedisplay{
        display: inline-block;
        margin: 5px 0 5px 5px;
        border: 1px solid #fff;
        border-radius: 5px;
        padding-left: 5px;
        background: rgba(255,255,255,0.15);
    }
    .usernamedisplay .removesymbol {
        border-radius: 3px;
        cursor: pointer;
        padding: 0 7px;
        margin: 5px;
        font-size: 1.2em;
        font-weight: bold;
    }
    .usernamedisplay .removesymbol:hover {
        background: rgba(255,255,255,0.5);
    }
    .dropdown-toggle {
        cursor: pointer;
    }
    .dropdown-menu > li > a.inactive {
      color: #888;
      cursor: pointer;
    }
    .dropdown-menu > li > a.inactive:hover,
    .dropdown-menu > li > a.inactive:focus {
      background-color: rgba(0,0,0,0);
    }
    .dropdown-menu {
      background-color: rgba(0,0,0,0.875);
      border: 0;
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    button.dropdown-toggle {
        text-align: right;
    }
    .dropdown-label {
        float: left;
    }
    .drop-down-icon{
        margin-right: 5px;
    }
    .container .dropdown-menu{
        background-image: url("/img/classic-background.jpg");
        border-radius: 3px;
        border: 1px solid #fff;
        box-shadow: 7px 7px 7px rgba(0,0,0,0.75);
        font-size: inherit;
        color: white;
        width: 100%;
        margin-top: 8px;
        padding: 0;
    }
    .container .dropdown-menu > li {
        display: block;
        padding: 5px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        white-space: nowrap;
        cursor: pointer;
    }
    .container .dropdown-menu > li:hover,
    .container .dropdown-menu > li:focus {
      text-decoration: none;
      background-color: rgba(0,0,0,0.5);
    }
    
    

/****************************************************
    Feedback
****************************************************/

    .alert {
        box-shadow: none;
        border: none;
    }
    .alert-success {
        background-color: #3c763d;
        border-color: inherit;
        background-image: none;
        color: #dff0d8;
    }
    .alert-error {
        background-color: #a94442;
        border: none;
        background-image: none;
        color: #fff;
    }
    .alert-error hr {
        border-top-color: #e4b9c0;
    }
    .alert-error .alert-link {
        color: #843534;
    }
    input.warn,
    input.warn{
        color: #d9534f;
    }
    input.warn:hover,
    input.warn:hover{
        color: #ea645f;
    }
    a.action{
        color: #3c983d;
    }
    a.action:hover{
        color: #4da94e;
    }
    .info-small{
        font-size: 0.8em;
        line-height: 100%;
        margin-top: 10px;
        color: rgba(255,255,255,0.5);
    }
    .warning-small{
        font-size: 0.8em;
        line-height: 100%;
        color: #d9534f;
        margin-top: 10px;
    }
    .wait-modal {
        width: calc(100% - 30px);
        height: 100%;
        text-align: center;
        background: rgba(0,0,0,0.5);
        position: absolute;
        z-index: 1000;
        border-radius: 4px;
    }
    .wait-img {
        position: absolute;
        margin-top: 25%;
    }
    
    

/****************************************************
    Modal Dialog
****************************************************/

    #modal{
        display: none;
    }
    #modal-background {
        position: fixed;
        z-index: 10000;
        background: rgba(0,0,0,0.65);
        width: 100%;
        height: 100%;
    }
    #modal-dialog {
        top: 200px;
        z-index: 10001;
        position: fixed;
        left: -260px;
        margin-left: 50%;
        width: 500px;
        border-radius: 5px;
        padding: 5px;
    }
    #modal-dialog .header {
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
        background: rgba(0,0,0,0.5);
    }
    #modal-dialog .body {
        padding: 10px;
    }
    #modal-dialog .footer {
        text-align: center;
    }
    #modal-dialog .btn {
        margin: 0 5px;
        min-width: 100px;
    }
    #modal-dialog.error {
        background: rgba(200,0,0,0.85);
    }
    #modal-dialog.warn {
        background: rgba(255,127,0,0.85);
    }
    #modal-dialog.info {
        background-image: url("/img/classic-background.jpg");
    }



/****************************************************
    Match View
****************************************************/

    #game-table{
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    #game-map{
        height: 600px;
        text-align: center;
        width: calc(100% - 95px);
        margin-left: 75px;
    }
    @keyframes fadein {
        0% { margin-left: -400px }
        100% { margin-left: 0px }
    }
    @keyframes fadeout {
        0% { margin-left: 0px }
        100% { margin-left: -400px }
    }
    .navbar-left.panel{
        margin-right: 60px;
        background: none;
        width: 400px;
    }
    .navbar-left.panel.in.initial,
    .navbar-left.panel.out.initial{
        animation: none;
    }
    .navbar-left.panel.in{
        margin-left: 0px;
        animation: fadein 0.25s ease-in-out;
    }
    .navbar-left.panel.out{
        margin-left: -400px;
        animation: fadeout 0.25s ease-in-out;
    }
    
    .map-controls{
        padding: 10px;
        background: rgba(0,0,0,0.5);
        border-radius: 3px;
        display: inline-block;
        position: absolute;
        z-index: 100;
        cursor: move;
        text-align: center;
        width: 225px;
    }
    .title,[role=title]{
        margin: -10px -10px 0 -10px;
    }
    [role=active-player]{
        margin-top:10px;
        border: 1px solid #fff;
        border-radius: 3px;
    }
    [role=active-player] > .user-avatar{
        margin-top: 2px;
        margin-left: 10px;
    }
    .current-phase{
        margin-top: 10px;
    }
    .current-phase .label {
        color: #888;
    }
    .current-phase .newtroops{
        margin-top: 10px;
    }
    .current-phase .next-phase{
        margin-top: 10px;
        display: block;
    }
    .actionheader{
        width: 500px;
        background: rgba(0,0,0,0.5);
        border-radius: 3px;
        display: table;
        z-index: 100;
    }
    .regionlabel{
        width: 40%;
        text-align: center;
        padding: 5px;
        display: table-cell;
    }
    .state-symbol{
        padding: 10px;
        border-radius: 5px;
    }
    .state-symbol.active{
        background: rgba(0,0,0,0.5);
    }
    .btn-primary.next-phase{
        background: rgba(0,155,0,0.35);
        border-radius: 3px;
    }
    .btn-primary.next-phase:hover{
        background: rgba(0,155,0,0.5);
    }
    .symbol{
        width: 20%;
        text-align: center;
        padding: 5px;
        background-color: rgba(255,255,255,0.25);
        display: table-cell;
    }
    .control-group{
        margin-top: 10px;
        text-align: center;
    }
    .btn.attack{
        background-color: rgba(255,0,0,0.5);
        margin-right: 10px;
        display: inline-block;
    }
    .btn.cancel{
        display: inline-block;
    }
    .btn.plus{
        border-radius: 4px 0 0 4px;
    }
    .btn.minus{
        border-radius: 0 4px 4px 0;
    }
    .btn.confirm{
        border-radius: 0px;
        background-color: rgba(0,255,0,0.5);
    }
    #playmodule-togglebar {
        background: rgba(0,0,0,0.25);
        padding: 5px;
        border-radius: 0 3px 3px 0;
        margin-right: -55px;
    }
    .toggle-btn {
        vertical-align: middle;
        text-align: center;
        margin-bottom: 0;
        padding: 5px 10px;
        background: none;
        border: none;
        border-radius: 3px;
    }
    .toggle-btn:hover {
        padding: 6px 9px 4px 11px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35) inset;
    }
    .toggle-btn.active {
        padding: 8px 7px 2px 13px;
        background: rgba(0,0,0,0.25);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) inset;
    }
    .toggle-btn.changed {
        background: rgba(255,255,255,0.5);
        animation: changed 2s linear infinite;
    }
    @keyframes changed {
        0% { background: none }
        50% { background: rgba(255,255,255,0.5) }
        100% { background: none }
    }
    #playmodule-container {
        margin-top: 5px;
    }
    .playmodule {
        margin: 5px 0 5px 5px;
        background: rgba(0,0,0,0.5);
        border-radius: 3px;
        padding-bottom: 1px;
    }
    .ui-effects-wrapper .playmodule {
        margin: 0 0 0 5px;
    }
    .playmodule .header {
        margin: 0 2%;
        padding: 5px 5px 1px 5px;
        border-bottom: 1px solid #fff;
    }
    .playmodule .body {
        margin: 2%;
        font-size: 0.75em;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #chatcontent{
        height: 200px;
    }
    #chatinput{
        margin: 2%;
        width: 96%;
    }
    .chatMessage{
        padding: 5px;
        background: rgba(0,0,0,0.3);
        border-radius: 3px;
        margin: 2% 2% 0 0;
        min-height: 40px;
    }
    .chatMessageContent{
        display: inline-block;
        width: calc(100% - 40px);
        vertical-align: top;
    }
    .chatMessageUserName{
        display: inline-block;
        text-decoration: underline;
        padding-right: 5px;
        vertical-align: top;
    }
    .chatMessageTexts{
        display: inline-block;
        max-width: 230px;
    }
    .chatMessageText{
        white-space: normal;
        margin-bottom: 5px;
    }
    .chatMessageUser{
        display: inline-block;
        width: 40px;
        vertical-align: top;
        margin-right: 5px;
    }
    .message-red{
        background: rgba(255,0,0,0.25);
    }
    .message-green{
        background: rgba(0,255,0,0.25);
    }
    .message-blue{
        background: rgba(0,0,255,0.25);
    }
    #cardcontainer{
        padding: 15px;
    }
    .card {
        border: 2px solid #fff;
        border-radius: 7px;
        padding: 5px;
        display: inline-block;
        margin: 0 -35px 5px 0;
        cursor: pointer;
        background-image: url("/img/classic-background.jpg");
    }
    .card:hover,
    .card.selected{
        margin: 0 5px 5px 0;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    }
    .card .body {
        font-size: 0.8em;
        border-radius: 2px;
        padding: 3px;
        color: #fff;
        text-align: center;
    }
    .card .symbol{
        width: 70px;
        height: 70px;
    }
    .card.europe .body {
        background: #4b4;
    }
    .card.america .body {
        background: #cc3;
    }
    .card.africa .body {
        background: #553700;
    }
    .card .symbol.category-1{
        background: rgba(0, 0, 0, 0) url("/img/symbols/infantry.png") repeat scroll 0 0 / cover;
    }
    .card .symbol.category-2{
        background: rgba(0, 0, 0, 0) url(/img/symbols/cavalry.png) repeat scroll 0 0 / cover;
    }
    .card .symbol.category-3{
        background: rgba(0, 0, 0, 0) url(/img/symbols/artillery.png) repeat scroll 0 0 / cover;
    }
    
    #statscontent{
        height: 200px;
    }
    #playerscontent{
        
    }
    .data.player > .user-avatar{
        height: 24px;
        width: 24px;
    }
    .data.player{
        padding: 5px;
        cursor: pointer;
        background: rgba(0,0,0,0.25);
        border-radius: 3px;
        margin-bottom: 5px;
    }
    .data.player.active{
        padding: 3px;
        border: 2px solid #fff;
        background: rgba(0,0,0,0.5);
    }
    .data.player .state{
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 5px;
        background: grey;
        margin-right: 7px;
    }
    .data.player .state.online{
        background: green;
    }
    .data.player .state.offline{
        background: red;
    }
    #logcontent{
        height: 100px;
        white-space: normal;
    }
    .matchUserColorScheme.sample {
        padding: 10px;
        margin: 5px;
        color: white;
    }
    .matchUserColorScheme.red {
        background: rgba(255,0,0,0.35);
    }
        .container .dropdown-menu > li.matchUserColorScheme.red:hover {
            background: rgba(255,0,0,0.85);
        }
    .matchUserColorScheme.blue {
        background: rgba(0,50,255,0.35);
    }
        .container .dropdown-menu > li.matchUserColorScheme.blue:hover {
            background: rgba(0,50,255,0.85);
        }
    .matchUserColorScheme.yellow {
        background: rgba(127,127,0,0.35);
    }
        .container .dropdown-menu > li.matchUserColorScheme.yellow:hover {
            background: rgba(177,177,0,0.85);
        }
    .matchUserColorScheme.green {
        background: rgba(0,185,0,0.35);
    }
        .container .dropdown-menu > li.matchUserColorScheme.green:hover {
            background: rgba(0,185,0,0.85);
        }
    .matchUserColorScheme.black {
        background: rgba(0,0,0,0.6);
    }
        .container .dropdown-menu > li.matchUserColorScheme.black:hover {
            background: #000;
        }
    .matchUserColorScheme.white {
        color: black;
        background: rgba(255,255,255,0.35);
    }
        .container .dropdown-menu > li.matchUserColorScheme.white:hover {
            background: rgba(255,255,255,0.85);
        }
    



/****************************************************
    Labels, Icons & Avatars
****************************************************/
    
    img.icon {
        margin: -7px 3px 0 0;
    }
    img.icon-s {
        margin: -3px 3px 0 0;
    }
    .user-label {
        padding: 2px 5px;
        border-radius: 2px;
        display: inline-block;
        margin: 0 5px 5px 0;
    }
    .thread .user-label,
    .message .user-label {
        font-weight: bold;
        text-decoration: underline;
        padding-right: 0;
        margin-right: 0;
    }
    a > .user-label {
        background: rgba(0,0,0,0.25);
        border: 1px solid rgba(255,255,255,1);
    }
    a > .user-label:hover {
        background: rgba(0,0,0,0.5);
    }
    .user-label img.icon {
        margin: 0 5px 0 0;
    }
    .user-name {
    }
    .user-avatar{
        max-height: 40px;
        max-width: 40px;
        margin-right: 10px;
        border-radius: 3px;
    }
    .user-avatar.icon{
        max-height: 24px;
        max-width: 24px;
        margin-right: 5px;
        border-radius: 2px;
    }
    .user-avatar.icon-s,
    .user-label.small .user-avatar.icon{
        max-height: 20px;
        max-width: 20px;
        margin-right: 5px;
        border-radius: 2px;
    }



/****************************************************
    Messaging Component
****************************************************/

    .message {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        padding: 5px;
        font-size: 16px;
        margin-bottom: 5px;
    }
    a > div.thread{
        color: #fff;
        background: rgba(0,0,0,0.25);
        border-radius: 5px;
        cursor: pointer;
    }
    a > div.thread.unread{
        background: rgba(0,0,0,0.5);
    }
    a:hover > div.thread{
        box-shadow: inset 4px 4px 4px rgba(0,0,0,0.5);
    }
    a.selected > div.thread{
        box-shadow: inset 4px 4px 4px #000;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .latestmessagesummary{
        font-size: 0.8em;
    }
    .sendername{
        font-weight: bold;
        text-decoration: underline;
    }
    .recipients{
        font-size: 15px;
        color: #ccc;
    }
    .newmessage{
        margin-top: 20px;
    }
    .newmessage textarea{
        height: 110px;
    }
    .thread.unread {
        background-color: rgba(0, 0, 0, 0.5);
    }
    a.newmessages {
        background: rgba(0,0,0,0.5);
    }
    .joinlink {
        font-weight: bold;
        padding: 10px;
        font-size: 1.5em;
    }
    .joinlink:hover {
        text-decoration: underline;
    }



/****************************************************
    jQuery-UI overrides
****************************************************/

    .ui-menu .ui-menu-item {
        position: relative;
        margin: 0;
        padding: 3px 1em 3px .4em;
        cursor: pointer;
        min-height: 0; /* support: IE7 */
        /* support: IE10, see #8844 */
        list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    }
    .ui-widget-content {
        border: none;
        background: rgba(0,0,0,0.8);
        color: #ccc;
    }
    .ui-state-hover,
    .ui-widget-content .ui-state-hover,
    .ui-widget-header .ui-state-hover,
    .ui-widget-content .ui-state-focus,
    .ui-widget-header .ui-state-focus,
    .ui-state-focus{
        border: none;
        background: rgba(0,0,0,0.5);
        color: #fff;
    }
    .ui-widget {
        border-radius: 0px;
    }
    .ui-menu-icons .ui-menu-item {
        padding-left: 2em;
    }
    .ui-autocomplete-loading {
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url(/img/loading_small.gif);
    }
    .ui-menu{
        background-image: url("/img/classic-background.jpg");
        border-radius: 3px;
        border: 1px solid #fff;
        box-shadow: 7px 7px 7px rgba(0,0,0,0.75);
    }